<header class="header" id="header"><!--header-start-->
    <div class="container">
        <figure class="logo animated fadeInDown delay-09s">
            <img class='logo_index' src="/images/logo.png" alt="Logo">
        </figure>
        <div class="tab-form">
            <ul class="tab-group">
                <li class="tab active" id="li_login">LOGIN</li>
                <li class="tab" id="li_signup">SIGNUP</li>
            </ul>
            <div class="tab-content">
                <div id="login">
                    <form id='form_login' action="javascript:">
                        <div class="field-wrap">
                            <input type="text" name="stdNum" required autocomplete="off" placeholder="학번(아이디)"/>
                        </div>
                        <div class="field-wrap">
                            <input type="password" name="password" required autocomplete="off" placeholder="비밀번호"/>
                        </div>
                        <button type="submit" class="button button-block sign">Log In</button>
                    </form>
                    <button class="button button-block find">비밀번호 초기화</button>
                </div>
                <div id="signup">
                    <form id='form_signup' action="javascript:">
                        <div class="field-wrap">
                            <input type="text" name="stdNum" required autocomplete="off" placeholder="학번(아이디)"/>
                        </div>
                        <div class="field-wrap">
                            <input type="text" name="stdName" required autocomplete="off" placeholder="이름" />
                        </div>
                        <div class="field-wrap">
                            <input type="password" name="password" required autocomplete="off" placeholder="비밀번호"/>
                        </div>
                        <div class="field-wrap">
                            <input type="text" name="birthday" required autocomplete="off" placeholder="생년월일(비밀번호찾기용)"/>
                        </div>
                        <button type="submit" class="button button-block sign">START</button>
                    </form>
                </div>
            </div><!-- tab-content -->
        </div> <!-- /form -->
    </div>
</header><!--header-end-->

<div class="modal fade" id="find_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="menu_title">아래에 정보를 입력해주세요.</h2>
            </div>
            <div class="modal-body">
                <form action="javascript:" id='find_form'>
                    <label class='short' for="find_stdNum">학번 </label>
                    <input type="text" id='find_stdNum' class='search_input' placeholder="학번(아이디)" required><br>
                    <label class='short' for="find_stdName">이름 </label>
                    <input type="text" id='find_stdName' class='search_input' placeholder="이름" required><br>
                    <label for="find_birthday">생년월일 </label>
                    <input type="text" id='find_birthday' class='search_input' placeholder="생년월일" required>
                </form>
            </div>
            <div class="modal-footer">
                <button id="find" class="btn btn-success">RESET</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="success_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body alert alert-success" id="success_message"></div>
        </div>
    </div>
</div>

<div id="error_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body alert alert-danger" id="error_message"></div>
        </div>
    </div>
</div>




