doctype html
html
  head
    title= "시간표놀이터"
    meta(charset='UTF-8')
    link(rel="shortcut icon" type="image/x-icon" href="../images/title.png")
    link(rel='stylesheet', href='/stylesheets/style_index.css')
    link(rel='stylesheet', href='/stylesheets/style_main.css')
    link(rel='stylesheet' href="/lib/bootstrap/dist/css/bootstrap.min.css")
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/javascripts/index_user.js')
    script(src='/javascripts/main_show_register.js')
    script(src='/javascripts/main_search.js')
    script(src='/javascripts/main_compare.js')
    script(src='/javascripts/main_etc.js')
  body
    block content

