
<nav class="main-nav-outer" id="test"><!--main-nav-start-->
    <div class="container">
        <ul class="main-nav">
            <li><a href="#tv_show">SHOW</a></li>
            <li><a href="#tv_register">REGISTER</a></li>
            <li><a href="#tv_compare">COMPARE</a></li>
            <li class="logo_main"><a href="#main"><img width="100" height="100" src="images/logo.png" alt="logo"/></a></li>
            <li><a href="#tv_search">SEARCH</a></li>
            <li><a href="#profile">PROFILE</a></li>
            <li><a href="#logout">LOGOUT</a></li>
        </ul>
    </div>
</nav><!--main-nav-end-->

<section class="main-section" id="tv_main">
    <div class="container">
        <h2 class="menu_title">대학생을 위한 시간표 관리 서비스</h2><br>
        <div class='tab'>
            <p>시간표 보기, 등록, 비교, 검색 기능 제공합니다.</p>
            <p>비교 기능의 경우 조모임이나 보강시간을 결정하는데 유용합니다.</p>
            <p>새로 가입하신 학생분들은 반드시 시간표 등록을 해주시기 바랍니다.!</p><br>
            <p>추가/개선 필요사항</p>
            <p>1. 프로필 - 친구추가 기능 적용에 따른 권한부여로 개인시간표 공개여부 설정</p>
            <p>2. 학교 사이트(AIMS) 과목정보 크롤링으로 간편하게 시간표를 등록</p>
            <P>3. A~H 교시로 한정된 시간표를 확장, 1시간 단위의 수업도 적용</P><br>
            <p class='copyright'>2016년 1학기 웹앱프로그래밍 프로젝트</p>
            <p class='copyright'>아주대학교 미디어학부 이상윤 </p>
        </div>
    </div>
</section>

<section class="main-section" id="tv_show">
    <div class="container">
        <h2 class="menu_title"></h2>
        <div class='tab'>
            <table class='show_table' border='0' cellpadding='0' cellspacing='0'>
                <tr class='days'>
                    <th class="time">Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr>
                    <th class='time'>A</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>H</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</section>

<section class="main-section" id="tv_register">
    <div class="container">
        <h2 class="menu_title"></h2>
        <div class='tab'>
            <table class='input_table' border='0' cellpadding='0' cellspacing='0'>
                <tr class='days'>
                    <th class="time">Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr>
                    <th class='time'>A</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>H</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</section>

<section class="main-section" id="tv_compare">
    <div class="container">
        <h2 class="menu_title"></h2>
        <div class='tab'>
            <table class='compare_table' border='0' cellpadding='0' cellspacing='0' data-toggle='tooltip' data-placement='right' title='CLICK DETAIL!' id='compare_tooltip'>
                <tr class='days'>
                    <th class="time">Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr>
                    <th class='time'>A</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>H</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</section>

<section class="main-section" id="tv_search">
    <div class="container">
        <h2 class="menu_title"></h2>
        <div class='tab'>
            <table class='search_table' border='0' cellpadding='0' cellspacing='0'>
                <tr class='days'>
                    <th class="time">Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr>
                    <th class='time'>A</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>H</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</section>

<div class="modal fade" id="profile" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="menu_title">User Profile</h2>
            </div>
            <div class="modal-body wrap_profile">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal fade" id="input_modal" role="dialog">-->
    <!--<div class="modal-dialog">-->
        <!--&lt;!&ndash; Modal content&ndash;&gt;-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h2 class="menu_title">INPUT CLASS INFO</h2>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<form action="javascript:" id="class_info_form">-->
                    <!--<label for="class_info">INFO</label>-->
                    <!--<input type="text" id="class_info" name="info" placeholder="INPUT CLASS INFORMATION" required>-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button id="update" class="btn btn-default" data-dismiss="modal">Update</button>-->
                <!--<button id="reset" class="btn btn-default" data-dismiss="modal">Reset</button>-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="modal fade" id="edit_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="menu_title">edit class info</h2>
            </div>
            <div class="modal-body">
                <form action="javascript:" id="edit_form">

                </form>
            </div>
            <div class="modal-footer">
                <button id="edit_add" class="btn btn-default">+</button>
                <button id="edit_delete" class="btn btn-default">-</button>
                <button id="edit_apply" class="btn btn-default" data-dismiss="modal">APPLY</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="search_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="menu_title">INPUT STUDENT NUMBER</h2>
            </div>
            <div class="modal-body">
                <form action="javascript:" id='search_form'>
                    <label for="search_input">정보</label>
                    <input type="text" id='search_input' placeholder="학번(아이디)" required>
                </form>
            </div>
            <div class="modal-footer">
                <button id="get" class="btn btn-default" data-dismiss="modal">GET</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="compare_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="menu_title">SELECT FRIEND'S ID</h2>
            </div>
            <div class="modal-body">
                <form action="javascript:" id="compare_form">

                </form>
            </div>
            <div class="modal-footer">
                <button id="add" class="btn btn-default">+</button>
                <button id="delete" class="btn btn-default">-</button>
                <button id="apply" class="btn btn-default" data-dismiss="modal">APPLY</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="compare_detail_modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="menu_title">DETAIL INFO</h2>
            </div>
            <div class="modal-body wrap_detail"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="error_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body alert alert-danger" id="error_message"></div>
        </div>
    </div>
</div>


<div id="success_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body alert alert-success" id="success_message"></div>
        </div>
    </div>
</div>

