<nav class="main-nav-outer" id="test"><!--main-nav-start-->
    <div class="container">
        <ul class="main-nav">
            <li><a href="#tv_show">SHOW</a></li>
            <li><a href="#tv_register">REGISTER</a></li>
            <li><a href="#tv_compare">COMPARE</a></li>
            <li class="logo_main"><a href="#main"><img width="100" height="100" src="/images/logo.png" alt="logo"/></a></li>
            <li><a href="#tv_search">SEARCH</a></li>
            <li><a href="#profile">PROFILE</a></li>
            <li><a href="#logout">LOGOUT</a></li>
        </ul>
    </div>
</nav><!--main-nav-end-->

<section class="main-section" id="tv_main">
    <div class="container">
        <h2 class="menu_title">대학생을 위한 시간표 관리 서비스</h2>
        <div class='tab intro'>
            <p>시간표 보기, 등록, 비교, 검색 기능을 제공합니다.</p>
            <p>새로 가입하신 학생분들은 반드시 시간표 등록을 해주시기 바랍니다.!</p><br>
            <p>보기(SHOW) - 내가 현재 등록한 시간표를 조회합니다.</p>
            <p>등록(REGISTER) - 시간표를 쉽고 빠르게 등록/수정합니다.</p>
            <p>비교(COMPARE) - 다른 학생들과 시간표를 비교합니다.</p>
            <p>검색(SEARCH) - 다른 학생의 시간표를 검색/조회 합니다.</p><br>

            <p>추가/개선 필요사항</p>
            <p>1. AIMS 와 연동하여 데이터 업데이트 자동화</p>
            <p>2. 어플리케이션 개발, 연동</p><br>
            <p class='copyright'>아주대학교 미디어학부 이상윤 </p>
        </div>
    </div>
</section>

<section class="main-section" id="tv_show">
    <div class="container">
        <h2 class="menu_title"></h2>
        <div class='tab'>
            <table class='show_table' border='0' cellpadding='0' cellspacing='0'>
                <tr class='days'>
                    <th class="time">Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr>
                    <th class='time'>A<br>09:00 ~ 09:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>A<br>09:30 ~ 10:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>A<br>10:00 ~ 10:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B<br>10:30 ~ 11:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B<br>11:00 ~ 11:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B<br>11:30 ~ 12:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C<br>12:00 ~ 12:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C<br>12:30 ~ 13:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C<br>13:00 ~ 13:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D<br>13:30 ~ 14:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D<br>14:00 ~ 14:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D<br>14:30 ~ 15:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E<br>15:00 ~ 15:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E<br>15:30 ~ 16:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E<br>16:00 ~ 16:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F<br>16:30 ~ 17:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F<br>17:00 ~ 17:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F<br>17:30 ~ 18:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G<br>18:00 ~ 18:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G<br>18:30 ~ 19:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G<br>19:00 ~ 19:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</section>

<section class="main-section" id="tv_register">
    <div class="container">
        <h2 class="menu_title"></h2>
        <div class='tab'>
            <table class='input_table' border='0' cellpadding='0' cellspacing='0'>
                <tr class='days'>
                    <th class="time">Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr>
                    <th class='time'>A<br>09:00 ~ 09:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>A<br>09:30 ~ 10:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>A<br>10:00 ~ 10:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B<br>10:30 ~ 11:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B<br>11:00 ~ 11:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B<br>11:30 ~ 12:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C<br>12:00 ~ 12:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C<br>12:30 ~ 13:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C<br>13:00 ~ 13:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D<br>13:30 ~ 14:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D<br>14:00 ~ 14:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D<br>14:30 ~ 15:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E<br>15:00 ~ 15:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E<br>15:30 ~ 16:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E<br>16:00 ~ 16:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F<br>16:30 ~ 17:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F<br>17:00 ~ 17:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F<br>17:30 ~ 18:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G<br>18:00 ~ 18:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G<br>18:30 ~ 19:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G<br>19:00 ~ 19:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</section>

<section class="main-section" id="tv_compare">
    <div class="container">
        <h2 class="menu_title"></h2>
        <div class='tab'>
            <table class='compare_table' border='0' cellpadding='0' cellspacing='0' data-toggle='tooltip' data-placement='right' title='CLICK DETAIL!' id='compare_tooltip'>
                <tr class='days'>
                    <th class="time">Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr>
                    <th class='time'>A<br>09:00 ~ 09:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>A<br>09:30 ~ 10:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>A<br>10:00 ~ 10:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B<br>10:30 ~ 11:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B<br>11:00 ~ 11:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B<br>11:30 ~ 12:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C<br>12:00 ~ 12:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C<br>12:30 ~ 13:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C<br>13:00 ~ 13:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D<br>13:30 ~ 14:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D<br>14:00 ~ 14:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D<br>14:30 ~ 15:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E<br>15:00 ~ 15:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E<br>15:30 ~ 16:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E<br>16:00 ~ 16:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F<br>16:30 ~ 17:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F<br>17:00 ~ 17:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F<br>17:30 ~ 18:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G<br>18:00 ~ 18:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G<br>18:30 ~ 19:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G<br>19:00 ~ 19:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</section>

<section class="main-section" id="tv_search">
    <div class="container">
        <h2 class="menu_title"></h2>
        <div class='tab'>
            <table class='search_table' border='0' cellpadding='0' cellspacing='0'>
                <tr class='days'>
                    <th class="time">Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr>
                    <th class='time'>A<br>09:00 ~ 09:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>A<br>09:30 ~ 10:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>A<br>10:00 ~ 10:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B<br>10:30 ~ 11:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B<br>11:00 ~ 11:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>B<br>11:30 ~ 12:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C<br>12:00 ~ 12:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C<br>12:30 ~ 13:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>C<br>13:00 ~ 13:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D<br>13:30 ~ 14:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D<br>14:00 ~ 14:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>D<br>14:30 ~ 15:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E<br>15:00 ~ 15:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E<br>15:30 ~ 16:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>E<br>16:00 ~ 16:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F<br>16:30 ~ 17:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F<br>17:00 ~ 17:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>F<br>17:30 ~ 18:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G<br>18:00 ~ 18:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G<br>18:30 ~ 19:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class='time'>G<br>19:00 ~ 19:30</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</section>

<div class="modal fade" id="profile" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="menu_title">내 프로필</h2>
            </div>
            <div class="modal-body wrap_profile">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="menu_title">전공과 과목을 골라주세요.</h2>
            </div>
            <div class="modal-body">
                <form action="javascript:" id="edit_form">

                </form>
            </div>
            <div class="modal-footer">
                <button id="edit_add" class="btn btn-primary">+</button>
                <button id="edit_delete" class="btn btn-danger">-</button>
                <button id="edit_apply" class="btn btn-success" data-dismiss="modal">APPLY</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="search_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="menu_title">검색할 학번(아이디)을 입력해주세요.</h2>
            </div>
            <div class="modal-body">
                <form action="javascript:" id='search_form'>
                    <label for="search_input">학번 </label>
                    <input type="text" id='search_input' placeholder="학번(아이디)" required>
                </form>
            </div>
            <div class="modal-footer">
                <button id="get" class="btn btn-success" data-dismiss="modal">GET</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="compare_modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="menu_title">비교 대상의 학번(아이디)을 입력해주세요.</h2><br>
                <h4>* 자기 학번도 추가해야 비교대상에 포함됩니다</h4>
            </div>
            <div class="modal-body">
                <form action="javascript:" id="compare_form">

                </form>
            </div>
            <div class="modal-footer">
                <button id="add" class="btn btn-primary">+</button>
                <button id="delete" class="btn btn-danger">-</button>
                <button id="apply" class="btn btn-success" data-dismiss="modal">APPLY</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="compare_detail_modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="menu_title">상세정보</h2>
            </div>
            <div class="modal-body wrap_detail"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="error_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body alert alert-danger" id="error_message"></div>
        </div>
    </div>
</div>


<div id="success_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body alert alert-success" id="success_message"></div>
        </div>
    </div>
</div>

